@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --fs: 14px;
  --fw-600: 600;

  --transition-color: color 0.3s;
  --transition-background: background-color 0.3s;
  --transition-border: border 0.3s;
  --transition-transform: transform 0.3s;

  --shadow: 0px 10px 20px 0px rgba(0, 0, 0 / 20%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  background-color: #f5f5f5;
}

a {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}
p {
  margin: 0 0 15px;
}
input,
textarea,
select {
  font: inherit;
  width: 100%;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
}
button {
  font: inherit;
}
strong {
  font-weight: var(--fw-600);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: normal;
}

h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1em;
}
